<div class="container">
  <div class="login-form mat-elevation-z4" [formGroup]="authService.loginForm">
    <h2 class="mat-h2">Login</h2>
    <mat-form-field class="field-width">
      <input matInput type="email" placeholder="Email" formControlName="email" required>
      <mat-error>Email is mandatory</mat-error>
    </mat-form-field>
    <mat-form-field class="field-width">
      <input matInput type="password" placeholder="Password" formControlName="password" required matInput>
      <mat-error>Password is mandatory</mat-error>
    </mat-form-field>
    <button mat-raised-button class="field-width" color="primary" type="submit" (click)="loginUser(authService.loginForm.value)"
      [disabled]="authService.loginForm.invalid">Login</button>
    <!-- <mat-checkbox class="remember-me" [(ngModel)]="checked">Remember me</mat-checkbox> -->
  </div>
</div>