.container {
  margin: 0 auto;
  margin-top: 75px;
}
.login-form {
  margin: 0 auto;
  width: 20%;
  padding: 20px;
  & h2,h5, .link {
    text-align: center;
  }
  & a:link{
    font-size: 14px;
  }
  & .field-width{
    width: 100%;
  }
}

